/** {
   outline: 1px solid red !important;
}*/
*{

box-sizing: border-box;

}

.title{
	font-family: Helvetica;
	background-color: #33BEBE; 
	margin-bottom: 50px;
	color: white;
	size: 100px;
	min-height: 150px;
	
	

}

.app{
	display: flex;
}


.screenshot{
	max-width: 460px;

}

.description{
	
	font-style: oblique;
	font-weight: bold;
	max-width: 705px;
	margin-left: 30px;
	color: #7C8B88;

}
p{
	color: blue;
}


/*.description searches for the description class name div in index htm 
because this is linked to index html 
You can also create key-value pairs for different elements like p.*/

/* <h1> - Header 1, <h2> - Header 2 and so on... */